In [48]:
import pandas as pd

In [22]:
df=pd.read_csv('data/gemstone.csv')

In [23]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [24]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [25]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [ ]:
### No missing values present in the data

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [27]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [28]:
## is this ID is important to create ML mpdel or to predict something

df=df.drop("id",axis=1)

In [29]:
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [30]:
## check for duplicted records  ## we can keep it but model training will take a lot of time

df.duplicated().sum()

0

In [31]:
##  if duplicated is present then
df.drop_duplicates

<bound method DataFrame.drop_duplicates of         carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]>

In [32]:
## segregate numerical and categorical columns  (Why)   FoR EDA Purpose

numerical_col=df.columns[df.dtypes!=object]
categorical_col= df.columns[df.dtypes =='object']
print("Numerical_col: ",numerical_col)
print("Categorical_col: ",categorical_col)

Numerical_col:  Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')
Categorical_col:  Index(['cut', 'color', 'clarity'], dtype='object')

In [33]:
df[categorical_col].describe().T   ##  top matlab jiska frequency sabse  highest hai   aur side me usi ka freq hai

          count unique    top   freq
cut      193573      5  Ideal  92454
color    193573      7      G  44391
clarity  193573      8    SI1  53272

In [34]:
df['cut'].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [35]:
df["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [36]:
df['clarity'].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [37]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [42]:
## Now ploating the numerical feature

import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(10,10))    ## to small the diagram use (8,6)
x=0                            ## yahan 0 ki jagah kuchh bhi  matlab x ki value wahan se start hogi
for i in numerical_col:
    sns.histplot(data=df,x=i,kde=True)
    print('\n')
    plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
## histplot, distplot   try with different graph  for parameter dee the google

In [ ]:
## categorical feature which graph we can use

1) Bar Plot  (Recmonded)
2) Count Plot

In [ ]:
## Correlation
1st we we want to find for numerical feature only
than for all features

In [43]:
sns.heatmap(df.corr(numerical_only=True))

NameError: name 'sns' is not defined

In [ ]:
sns.heatmap(df.corr(),annot=True)  ## it will give values also      # it is only for numerical columns

In [ ]:
# if there is high correlation then what cen we do

we can drop the columns (i.e there is multicollinearity)
like x&y is 1  x&z is 0.99

based on all of this     we can think how many features we can take
if correlation between feature and price(dep) is high than it is very very good

but hight correlation betwwn indep feature and indep feature is not good (multicollinearity)
then we set threshold value
if we take threshold value 95% 

we can see corr b/w carat and x, carat and y, carat and z,  is high
and also x&y , x&z,,y&z  is highly correlated
so,we drop x,y,z   

so, can we drop x,y,z or simply drop caret

suppose if we drop caret    then x,y,z bachega    lakin abhi bhi inn tino me high correlation maujood hai  
aur ye tino data me hai    to abhi bhi multicolliniearity hai data 

isliye if we drop x,y,z  then hamare pass sirf caret bachega    aur caret kisi se bhi highly correlated nhi hai
so there is no multicollinearity

uper jo likha hai wo shi hai lakin WAY OF EXPRESSION is not correct

if we use x,y,z in our model then there is multicollinearity present

but instesd of using x,y,z  if we use  only use caret then there is no multicollinearity present in our data

# so we only use caret

In [ ]:
## another observation
depth should be highly correlated with price   but depth is low corr with price
and also it is highly correlated with z (multicollinearity)  
# so we drop depth   (but according to me    we should not drop)

if corr=0.0019    we can also iterprete as  if there is change in 1 unit of depth     there wil be only 0.0019 
change in the price

In [44]:
#  currently we will not use/drop this we'll do it later coz we want to see the impact of all three 
#  df.drop(labels=["x","y","z"],axis=1)              # overfitting

        carat        cut color clarity  depth  table  price
0        1.52    Premium     F     VS2   62.2   58.0  13619
1        2.03  Very Good     J     SI2   62.0   58.0  13387
2        0.70      Ideal     G     VS1   61.2   57.0   2772
3        0.32      Ideal     G     VS1   61.6   56.0    666
4        1.70    Premium     G     VS2   62.6   59.0  14453
...       ...        ...   ...     ...    ...    ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0   1130
193569   0.70    Premium     G    VVS2   60.3   58.0   2874
193570   0.73  Very Good     F     SI1   63.1   57.0   3036
193571   0.34  Very Good     D     SI1   62.9   55.0    681
193572   0.71       Good     E     SI2   60.8   64.0   2258

[193573 rows x 7 columns]

In [38]:
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [ ]:
sns.pairplot(df)  ## it will show scatterplot of all features w.r.t each other

In [ ]:
## here we can see +ve corr b/w price and all other feature
isme same same feature ka scatter plot bar graph ki tarah ban jata hai

in this we can see which type of correlation is there    +ve or  -ve   by observing inc  or dec pattern

In [ ]:
# see cut and clarity    are these  ORDINAL feature      # then we can assign ranks
now here comes to know the domain based knowledge of  DIAMOND   i.e.  how can we assign the ranks

In [39]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [ ]:
## now we serch diamond grading system    to assign the values
least is fair so 1, good as 2    ## ye ulta ni lag rha ??

rank is like review system in ordinal scale  kam ko kam assign kro  aur jayada ko jyada

dont assign like  greading ya marks system 1st 2nd 3rd ok

and also mathematically equation will be applies  so jyada badhiya hai usko jayda weight/value dega  so order like this

In [40]:
cut_map={"Premium":4, 'Very Good':3, 'Ideal':5, 'Good':2, 'Fair':1}

In [41]:
df["clarity"].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [42]:
clarity_map={'VS2':4, 'SI2':2, 'VS1':5, 'SI1':3, 'IF':8, 'VVS2':6, 'VVS1':7, 'I1':1}

In [43]:
df['color'].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [44]:
color_map={'F':3, 'J':7, 'G':4, 'E':2, 'D':1, 'H':5, 'I':6}

In [45]:
df['cut']=df['cut'].map(cut_map)
df['clarity']=df['clarity'].map(clarity_map)
df['color']=df['color'].map(color_map)

In [49]:
df.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1   2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3   0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4   1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453

In [ ]:
## this will do the same thing as map do

df['cut']=df['cut'].relace(cut_map)
df['clarity']=df['clarity'].repalce(clarity_map)
df['color']=df['color'].replace(color_map)